from pathlib import Path
from datetime import timedelta
import os

# Build paths inside the project like this: BASE_DIR / 'subdir'.
BASE_DIR = Path(__file__).resolve().parent.parent


# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/5.1/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'django-insecure-zw1$5%r#acn5__hra*66qd6uem0bi3^w_5m*3#br7wvvxl0etj'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = ['www.semilla360.online','semilla360.online','72.60.7.3','localhost','127.0.0.1:8000','127.0.0.1','10.168.0.5']


# Application definition

INSTALLED_APPS = [
    'daphne',
    'channels',
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'django_filters',
    'rolepermissions',
    'rest_framework',
    'django_rq',
    'rest_framework_simplejwt.token_blacklist',
    'graphene_django',
    'corsheaders',
    'localizacion',
    'usuarios',
    'almacen',
    'importaciones',
    'base',
    'simple_history',

]


MIDDLEWARE = [
    'django.middleware.security.SecurityMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
    'corsheaders.middleware.CorsMiddleware',
    'simple_history.middleware.HistoryRequestMiddleware',
    'base.middleware.JWTCompatibleHistoryMiddleware',
]

ROOT_URLCONF = 'semilla360.urls'





WSGI_APPLICATION = 'semilla360.wsgi.application'

DATABASE_ROUTERS = ['semilla360.routers.DatabaseRouter']

# Database
# https://docs.djangoproject.com/en/5.1/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'semilla_360',
        'USER': 'root',
        'PASSWORD': 'Gso@2025',
        'HOST': 'localhost',  # o la dirección de tu servidor MySQL
        'PORT': '3306',  # puerto por defecto de MySQL
    },
    'bd_semilla_starsoft': {
        'ENGINE': 'mssql',
        'NAME': '003BDCOMUN',  # una de las bases de datos de SQL Server
        'USER': 'SOPORTE',
        'PASSWORD': 'SOPORTE',
        'HOST': '190.12.90.196',       # IP de tu servidor SQL en red local
        'PORT': '1433',                # puerto SQL Server predeterminado
        'OPTIONS': {
            'driver': 'ODBC Driver 17 for SQL Server',  # especifica el driver adecuado
        },
    },
    'bd_maxi_starsoft': {
        'ENGINE': 'mssql',
        'NAME': '007BDCOMUN',  # una de las bases de datos de SQL Server
        'USER': 'SOPORTE',
        'PASSWORD': 'SOPORTE',
        'HOST': '190.12.90.196',       # IP de tu servidor SQL en red local
        'PORT': '1433',                # puerto SQL Server predeterminado
        'OPTIONS': {
            'driver': 'ODBC Driver 17 for SQL Server',  # especifica el driver adecuado
        },
    },
    'bd_trading_starsoft': {
        'ENGINE': 'mssql',
        'NAME': '008BDCOMUN',  # una de las bases de datos de SQL Server
        'USER': 'SOPORTE',
        'PASSWORD': 'SOPORTE',
        'HOST': '190.12.90.196',       # IP de tu servidor SQL en red local
        'PORT': '1433',                # puerto SQL Server predeterminado
        'OPTIONS': {
            'driver': 'ODBC Driver 17 for SQL Server',  # especifica el driver adecuado            '
        },
    },
}



# Password validation
# https://docs.djangoproject.com/en/5.1/ref/settings/#auth-password-validators

AUTH_PASSWORD_VALIDATORS = [
    {
        'NAME': 'django.contrib.auth.password_validation.UserAttributeSimilarityValidator',
    },
    {
        'NAME': 'django.contrib.auth.password_validation.MinimumLengthValidator',
    },
    {
        'NAME': 'django.contrib.auth.password_validation.CommonPasswordValidator',
    },
    {
        'NAME': 'django.contrib.auth.password_validation.NumericPasswordValidator',
    },
]

LANGUAGE_CODE = 'es-pe'

USE_I18N = True

USE_TZ = True

TIME_ZONE = 'America/Lima'

STATIC_URL = 'static/'

DEFAULT_AUTO_FIELD = 'django.db.models.BigAutoField'

#AUTH_USER_MODEL = 'usuarios.User'
ROLEPERMISSIONS_MODULE = 'usuarios.roles'

REST_FRAMEWORK = {
    'DEFAULT_AUTHENTICATION_CLASSES': (
        'rest_framework_simplejwt.authentication.JWTAuthentication',
    ),
    'DEFAULT_PERMISSION_CLASSES': [
        'rest_framework.permissions.IsAuthenticated',
    ],
}

# Agrega la configuración de GraphQL
GRAPHENE = {
    "SCHEMA": "importaciones.schema.schema"  # Asegúrate de que apunte a tu archivo `schema.py`
}

CORS_ALLOWED_ORIGINS = [
    "https://www.semilla360.online", "https://semilla360.online","http://72.60.7.3",
    "http://127.0.0.1:3000","http://localhost:3000","https://10.168.0.5:3000"
]

# Si tu backend necesita manejar credenciales (por ejemplo, autenticación con JWT)
CORS_ALLOW_CREDENTIALS = True

CORS_ORIGIN_WHITELIST = [
    "https://www.semilla360.online", "https://semilla360.online","http://72.60.7.3","https://10.168.0.5"  # Dirección del frontend
]

# Permitir headers adicionales si es necesario (como Authorization para JWT)
CORS_ALLOW_HEADERS = [
    'content-type',
    'authorization',  # Para permitir encabezados de autorización
'Content-Disposition',
]


CORS_EXPOSE_HEADERS = (
    'Content-Disposition',
)

# Configuración de CSRF
CSRF_TRUSTED_ORIGINS = [
    "https://www.semilla360.online", "https://semilla360.online","http://72.60.7.3"
]

APPEND_SLASH = True

MEDIA_URL = "/media/"
MEDIA_ROOT = os.path.join(BASE_DIR, "media")

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = 'sistemas.grupolasemilla@gmail.com'  # Tu correo
#EMAIL_HOST_PASSWORD = 'SIST-L2023*'
EMAIL_HOST_PASSWORD = 'ncqvtixinnaxdjyj'
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER
FRONTEND_URL = "https://semilla360.online"


SIMPLE_JWT = {
    'ACCESS_TOKEN_LIFETIME': timedelta(minutes=15),  # Tiempo de validez del token de acceso
    'REFRESH_TOKEN_LIFETIME': timedelta(days=7),      # Tiempo de validez del token de refresco
    'ROTATE_REFRESH_TOKENS': True,
    'BLACKLIST_AFTER_ROTATION': True,
    'ALGORITHM': 'HS256',
    'SIGNING_KEY': SECRET_KEY,
    'VERIFYING_KEY': None,
    'AUTH_HEADER_TYPES': ('Bearer',),
    'USER_ID_FIELD': 'id',
    'USER_ID_CLAIM': 'user_id',
    'AUTH_TOKEN_CLASSES': ('rest_framework_simplejwt.tokens.AccessToken',),
    'TOKEN_TYPE_CLAIMS': 'type',
}

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,  # No deshabilitar los loggers de Django

    # --- 1. Definir cómo se ven tus logs ---
    'formatters': {
        'verbose': {
            'format': '{levelname} {asctime} {module} {message}',
            'style': '{',
        },
        'simple': {
            'format': '{levelname} {asctime} {message}',
            'style': '{',
        },
    },

    # --- 2. Definir A DÓNDE van los logs ---
    'handlers': {
        # Un handler que escribe en la consola
        'console': {
            'level': 'DEBUG',  # Muestra todo, desde DEBUG para arriba
            'class': 'logging.StreamHandler',
            'formatter': 'simple',
        },
        # Un handler que escribe en un archivo
        'file_app': {
            'level': 'INFO',  # Solo escribe INFO y superior
            'class': 'logging.FileHandler',
            'filename': BASE_DIR / 'logs/app.log',  # ¡Crea una carpeta 'logs' en tu raíz!
            'formatter': 'verbose',
        },
        # Un handler para las tareas de RQ
        'file_rq': {
            'level': 'INFO',
            'class': 'logging.FileHandler',
            'filename': BASE_DIR / 'logs/rq_tasks.log',  # ¡Un archivo separado para tareas!
            'formatter': 'verbose',
        },
    },

    # --- 3. Decirle a cada logger qué handler usar ---
    'loggers': {

        # El logger de tu app 'almacen'
        'almacen': {
            'handlers': ['console', 'file_app'],  # Envíalo a la consola Y al archivo
            'level': 'INFO',
            'propagate': False,  # No lo envíes al logger "raíz"
        },

        # El logger de tu app 'usuarios'
        'usuarios': {
            'handlers': ['console', 'file_app'],
            'level': 'INFO',
            'propagate': False,
        },

        # El logger de las tareas de RQ
        'django_rq': {
            'handlers': ['console', 'file_rq'],
            'level': 'INFO',
            'propagate': False,
        },

        # El logger raíz de Django (para errores generales)
        'django': {
            'handlers': ['console', 'file_app'],
            'level': 'WARNING',  # Solo nos importan los warnings/errors de Django
            'propagate': False,
        },
    }
}

RQ_QUEUES = {
    'default': {
        'HOST': 'localhost',
        'PORT': 6379,
        'DB': 0,
        #"'PASSWORD': 'Gso@2025',
        'DEFAULT_TIMEOUT': 3600, # 1 hora de timeout para tareas largas
    }
}

CHANNEL_LAYERS = {
    "default": {
        "BACKEND": "channels_redis.core.RedisChannelLayer",
        "CONFIG": {
            "hosts": [("127.0.0.1", 6379)], # <-- Opción SIN contraseña

            # --- USA ESTE FORMATO PARA TU CONTRASEÑA ---
            # Reemplaza 'TU_PASSWORD_DE_REDIS' con la contraseña que configuraste
            #"hosts": ["redis://:TU_PASSWORD_DE_REDIS@127.0.0.1:6379"],
        },
    },
}
ASGI_APPLICATION = 'semilla360.asgi.application'



TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        # Aquí le decimos a Django dónde buscar tu archivo HTML del PDF
        'DIRS': [os.path.join(BASE_DIR, 'templates')],
        'APP_DIRS': True,
        'OPTIONS': {
            'context_processors': [
                'django.template.context_processors.debug',
                'django.template.context_processors.request', # <-- Faltaba este
                'django.contrib.auth.context_processors.auth', # <-- Faltaba este
                'django.contrib.messages.context_processors.messages', # <-- Faltaba este
            ],
        },
    },
]